* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-text {
  color: gray;
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
  /* 不要display: flex; */
  /* 不要justify-content: center; */
}

.service {
  margin-bottom: 30px;
  /* margin-bottom: いるのか？; */
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}
